.a{
    height: 100hv;
    display: flex;
    align-items: center;
}


.a-right{
    flex: 2;
}

.a-title{
    font-weight: 500;
    width: 200px;
  margin: auto;

}

.a-sub{
    margin: 2px;
    
}

.a-desc{
    font-weight: 600;
    width: 600px;
    justify-content: center;
    align-items: center;
} 




@media screen and (max-width: 480px){
    .a{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }

    .a-left{
        width: 100%;
    }

    .a-card{
        height: 30vh;
    }
    .a-card.bg, .a-award {
        display: none;
    }
    .a-right{
        padding: 20px;
    }
}